h1 {text-align: center; font-weight: bold; display: block;background-color: grey;}
h2 {text-align: center; display: block; background-color: grey;}
hr {width: 50%; border-width: 3px;}
img {float: right; margin-left: 30px;}
p {font-size: 19px; text-align: center; background-color: grey;}
footer {text-align: center; display: block; background-color: grey;}
nav { text-align: left; display: inline-block;background-color: darkgrey; padding-right: 20px;}
nav ul {list-style-type: none ; padding-left: none;}
nav a {text-decoration:none;}
iframe {margin: auto 0px; display: block;}
body{background-image: url(images/oriental-tiles.png); background-repeat: repeat;}
main {background-color: grey;}
/* nav a:link {color: #FEF6C2}
nav a:visited {color: #D2B48C}
nav a:hover {color: #CC9933} */
/* ------------------ id Selectors ---------------------- */
#wrapper { margin-left: auto; margin-right: auto; max-width: 1280px;}
#hat1 {background-image: url(images/Chapeaux_en_peau_de_castor.jpg); text-align: right; background-size: 65%; height: 250px;}